_ToDo.txt
ResStock_Data/metadata.tsv
ResStock_Data/data_dictionary.tsv
Power_Data/Uri_Map.R
Power_Data/outages_2023.csv
Power_Data/outages_2021.csv
Power_Data/outages_2022.csv
Power_Data/outages_2020.csv
Power_Data/outages_2019.csv
Power_Data/outages_2018.csv
Power_Data/outages_2016.csv
Power_Data/outages_2017.csv
Power_Data/outages_2015.csv
Power_Data/outages_2014.csv
Power_Data/DQI.csv
Power_Data/DQI_processing.R
Power_Data/County_FIPS_Customers.csv
Power_Data/coverage_history.csv
